* {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundschema {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    overflow: hidden;
    width: 95vw;
    height: 75vh;
    background:linear-gradient(to right, #2F4F4F 33%, #2828289d 33%, #4343439d 66%, #2F4F4F 66%, #2F4F4F 100%);
    border-radius: 18px;
}

.event {
    background: #FFFFFF;
    border-radius: 8px;
    height: 100px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    flex-grow: 2;
    flex-wrap: wrap;
}

.eventcontainer {
    display: flex;
    flex-direction: row;
}

.clockContainer {
  width: 100vw;
  height: 100vh;
  height: fit-content;
  z-index: 100;
  position: absolute;
  align-self: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}

#clock {
  position: relative;
  top: 300px;
}

h1 {
  top: 5px;
    position: absolute;
}

h2 {
    position: absolute;
    bottom: 5px;
    font-size: 28px;
}

.timezone {
    display: flex;
    margin: 18px;
    justify-content: center;
    align-items: center;
}

.slidercontainer {
    position: relative;
    width: 100%;
    align-self: center;
    justify-content: center;
    justify-items: center;
}

#sessionsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #000000 !important;
}

/* slider */
/*slider*/
input[type=range] {
    height: 59px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 90%;
    position: relative;
    background-color: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #000000;
    border-radius: 50px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 1px #000000;
    border: 1px solid #000000;
    height: 80px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -21px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #000000;
    border-radius: 50px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 1px #000000;
    border: 1px solid #000000;
    height: 50px;
    width: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 2px 2px 1px #000000;
    border: 1px solid #000000;
    height: 50px;
    width: 15px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #000000;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #000000;
  }

.blue {
    background-color: #000000;
}

.green {
    background-color: #2F4F4F;
    color: #ffffff;
}

.purple {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

@keyframes removeText {
  to {
    opacity: 0;
  }
}

/* animation */ 
@keyframes spin {
    to {
      transform: rotate(1turn);
      background-color: #000000;
    }
  }